@font-face {
  font-family: "Amiko";
  src: url(./assets/fonts/Amiko/Amiko-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "AmikoBold";
  src: url(./assets/fonts/Amiko/Amiko-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url(./assets/fonts/Lato/Lato-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "LatoBold";
  src: url(./assets/fonts/Lato/Lato-Bold.ttf);
  font-weight: bold;
}

.menu-wrapper{
  height: 3vw;
  width: 30vw;
}

.wrapper{
  background-image: linear-gradient(222deg,#ff272d 0,#c42482 33%,#ab217f 47%,#671878 84%,#4a1475 100%);
  height: 100vh;
}
.home{
  color: white;
  display: grid;
  grid-template-rows: 5vw repeat(3, 1fr);
  grid-template-columns: 10vw repeat(2, 1fr);
  grid-template-areas: 
  ". img . "
  ". img h1 "
  ". img p";
}
.home img{
  grid-area: img;
  align-self: center;
  justify-self: center;
  width: 20vw;
  border-radius: 50%;
  border: 0.5vw solid rgba(134, 128, 128, 0.363) ;
  filter: drop-shadow(0.3vw 0.1vw 0.7vw rgb(56, 56, 56));
}
.home h1{
  grid-area: h1;
  align-self: flex-end
}
.home p{
  grid-area: p;
  align-self: center
}

/* *********************** */
/*                         */
/* Create-react-app styles */
/*                         */
/* *********************** */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
